.counter {
    background-color: #006aa9;
    color: #ffffff;
    border-radius: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}