.counter {
    background-color: rgb(23, 79, 107);
    border-radius: 12%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 75%;
}

.counter-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.counter-bottom ion-text {
    font-size: xx-small
}