<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">
            العداد
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [style]="">
   
   
    <ion-row size="12" [style.height]="'80%'">
        <ion-col class="counterCol">
            <ion-card [classList]="'counter'" [style.background-color]="(counter===0)?'var(--ion-color-secondary)':''">
                <ion-row size="10" class="counter-number" (click)="increase()">
                    <ion-text class="ion-text-center">
                        {{counter}}
                    </ion-text>
                </ion-row>
                <ion-row class="counter-bottom">
                    <ion-icon (click)="resetAlertConfirm()" name="refresh-outline"></ion-icon>
                </ion-row>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>