.counterCol {
    margin: 0;
    height: 100%;
}
.counter {
    background-color: #006aa9;
    color: #ffffff;
    display: flex;
    margin: 0;
    padding-top: 16%;
    padding-bottom: 16%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.counter-number {
    height: 100%;
    width: 100%;
    font-size: 250%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bg-secondary {
    background-color: var(--ion-color-secondary);
}

.counter-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 20%;
}
.counter-bottom ion-icon{
   font-size: 200%;
}
