<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">
            {{this.title}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-list lines="inset" *ngFor="let dker of adkar; let i = index">
        <ion-item>
            <ion-col size="9" class="ion-text-right">
                <ion-label class="ion-text" color="success">{{dker.prefix}}</ion-label>
                <ion-label class="ion-text-wrap">
                    {{dker.text}}
                </ion-label>
                <ion-label color="tertiary">
                    <h6> {{dker.suffix}}
                    </h6>
                </ion-label>
                <p class="info" *ngIf="dker.info">{{dker.info}}</p>
            </ion-col>
            <ion-col size="3" class="counter-section">
                <app-counter-controller [id]="i" [count]="dker.count"></app-counter-controller>
            </ion-col>
        </ion-item>
    </ion-list>
</ion-content>
