<ion-menu contentId="main-content">
    <ion-header>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <ion-toolbar color="secondary">
            <ion-title size="large"></ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content dir="rtl" class="ion-padding">
        <ion-list>
            <ion-list-header>الاذكار</ion-list-header>
            <ion-menu-toggle class="ion-padding-top" auto-hide="false" *ngFor="let p of adkarList; let i = index">
                <ion-item routerDirection="root" [routerLink]="'adkar'" [queryParams]="p.queryParams" lines="none" detail="false" routerLinkActive="selected">
                    <ion-icon slot="start" color="secondary" [ios]="p.icon + '-sharp'" [md]="p.icon + '-sharp'"></ion-icon>
                    <ion-label>{{ p.title }}</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
        <ion-list>
            <ion-list-header>
                <ion-label>اخرى</ion-label>
            </ion-list-header>
            <ion-menu-toggle *ngFor="let p of otherList; let i = index">
                <ion-item routerDirection="root" [routerLink]="p.url" lines="none" detail="false" routerLinkActive="selected">
                    <span color="secondary" class="material-icons md-48">{{p.icon}}</span>

                    <ion-label class="otherLabels" >{{ p.title }}</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>